openapi: 3.1.0

info:
  title: Postamat Platform API
  version: 1.0.0-draft.1
  summary: Parcel locker platform for Türkmenpoçta — client app, kiosk terminal, admin panel.
  description: |
    Single source of truth for the HTTP contract between three front-ends
    (Flutter client app, kiosk terminal, admin panel) and the core backend.

    Conventions — see `docs/API-01.md` for prose:

    * All JSON fields are `snake_case`.
    * All identifiers are UUID (v7 preferred).
    * All timestamps are UTC, ISO-8601 with `Z`. Clients render in `Asia/Ashgabat`.
    * All money is an integer in minor units plus a currency code. Never a float.
    * All phone numbers are E.164 (`+993…`).
    * Breaking changes ship as `/api/v2`, never as edits to `/api/v1`.

    Generated clients: `orval`/`openapi-typescript` for web, `openapi-generator` for Dart.
    Do not hand-edit generated code — edit this file.
  contact:
    name: Postamat platform team
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.postamat.tm/api/v1
    description: Production (inside Türkmenistan)
  - url: https://stage.postamat.tm/api/v1
    description: Staging
  - url: http://localhost:4010/api/v1
    description: Prism mock from this file

tags:
  - name: Auth (client)
    description: Phone + OTP authentication for the mobile app.
  - name: Auth (admin)
    description: Login/password authentication for the admin panel.
  - name: Auth (kiosk)
    description: Device provisioning and staff sign-in on the terminal.
  - name: Profile
    description: The signed-in client's own profile and notification settings.
  - name: Reference
    description: Cities, postamats, cell types, availability. Read-only for clients.
  - name: Bookings
    description: Booking a cell, holding it, cancelling, timeline.
  - name: Payments
    description: Card payment via the acquirer's hosted page. No card data ever touches this API.
  - name: Access codes
    description: Deposit and pickup grants, resend, transfer of pickup rights.
  - name: Kiosk
    description: Terminal session — PIN entry, opening, door sensor, QR sign-in.
  - name: Kiosk (staff)
    description: Staff mode on the terminal — force open, unload expired, lock diagnostics.
  - name: Admin — postamats
    description: Postamat CRUD, blocking, photos and map placement.
  - name: Admin — cell types
    description: Sizes and tariffs. Blocked, never deleted.
  - name: Admin — cells
    description: Cell CRUD, bulk cabinet creation, blocking, maintenance, the monitor.
  - name: Admin — custody
    description: Removal acts, parcels held at the counter, operator refunds.
  - name: Admin — clients
    description: Client directory and blocking.
  - name: Admin — devices
    description: Device fleet, provisioning codes, remote opening.
  - name: Admin — users and roles
    description: Admin accounts and the permission mechanism.
  - name: Admin — audit log
    description: Append-only journal and its streaming CSV export.
  - name: Admin — statistics
    description: Dashboard tiles, charts and revenue.
  - name: Realtime
    description: Server-sent updates for the admin monitor.
  - name: Webhooks
    description: Server-to-server callbacks. Documented here, never called by a front-end.

security:
  - clientAuth: []

paths:

  # ───────────────────────────────────────────────────────────── Auth (client)

  /auth/otp/request:
    post:
      tags: [Auth (client)]
      operationId: requestOtp
      summary: Request a one-time SMS code
      description: |
        Rate-limited per phone and per device. The response never reveals whether the
        phone is already registered — the app decides what to show after `verify`.
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  $ref: '#/components/schemas/Phone'
            example:
              phone: '+99365123456'
      responses:
        '200':
          description: Code sent (or re-sent within the allowed window).
          content:
            application/json:
              schema:
                type: object
                required: [request_id, code_length, expires_at, resend_after]
                properties:
                  request_id:
                    type: string
                    format: uuid
                  code_length:
                    type: integer
                    description: |
                      OTP length. Always 6 — and deliberately different from the
                      5-digit cell PIN, which is a separate secret.
                    example: 6
                  expires_at:
                    $ref: '#/components/schemas/Timestamp'
                  resend_after:
                    type: integer
                    description: Seconds until `request` may be called again for this phone.
                    example: 60
              example:
                request_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e01
                code_length: 6
                expires_at: '2026-08-14T09:46:00Z'
                resend_after: 60
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: |
            The client is blocked. Codes: `CLIENT_BLOCKED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Codes: `OTP_REQUEST_TOO_SOON`, `RATE_LIMITED`.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: OTP_REQUEST_TOO_SOON
                  message: Wait before requesting a new code.
                  details:
                    resend_after: 47
                  trace_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e02
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/otp/verify:
    post:
      tags: [Auth (client)]
      operationId: verifyOtp
      summary: Exchange an OTP for a token pair
      description: |
        The attempt counter lives on the server, on the OTP request. The app only
        renders `attempts_left` from the error body — it must never count locally.
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [request_id, code]
              properties:
                request_id:
                  type: string
                  format: uuid
                code:
                  type: string
                  pattern: '^[0-9]{6}$'
            example:
              request_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e01
              code: '434444'
      responses:
        '200':
          description: |
            Authenticated. `profile_complete` is `false` for a brand-new client —
            the app then shows the profile form before anything else.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/TokenPair'
                  - type: object
                    required: [profile_complete]
                    properties:
                      profile_complete:
                        type: boolean
              example:
                access_token: eyJhbGciOiJI...
                refresh_token: v4.public.eyJ...
                token_type: Bearer
                expires_in: 900
                profile_complete: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: |
            Codes: `OTP_INVALID` (with `attempts_left`), `OTP_EXPIRED`, `OTP_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: OTP_INVALID
                  message: Wrong code.
                  details:
                    attempts_left: 2
                  trace_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e03
        '403':
          description: 'Codes: `CLIENT_BLOCKED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Codes: `OTP_ATTEMPTS_EXCEEDED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/refresh:
    post:
      tags: [Auth (client)]
      operationId: refreshToken
      summary: Rotate the token pair
      description: Refresh tokens are single-use. Reuse revokes the whole family.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: New pair issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          description: 'Codes: `REFRESH_TOKEN_INVALID`, `REFRESH_TOKEN_EXPIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/logout:
    post:
      tags: [Auth (client)]
      operationId: logout
      summary: Revoke the current session
      description: Also removes the push token bound to this session, if any.
      responses:
        '204':
          description: Session revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/push-tokens:
    post:
      tags: [Auth (client)]
      operationId: registerPushToken
      summary: Register a device push token
      description: |
        Push is an accelerator on top of SMS, never a replacement. The pickup PIN is
        never delivered through this channel.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, platform]
              properties:
                token:
                  type: string
                  maxLength: 512
                platform:
                  type: string
                  enum: [android, ios]
                app_version:
                  type: string
                  example: 1.0.0+42
      responses:
        '201':
          description: Registered.
          content:
            application/json:
              schema:
                type: object
                required: [push_token_id]
                properties:
                  push_token_id:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/push-tokens/{push_token_id}:
    delete:
      tags: [Auth (client)]
      operationId: deletePushToken
      summary: Remove a device push token
      parameters:
        - name: push_token_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ────────────────────────────────────────────────────────────── Auth (admin)

  /admin/auth/login:
    post:
      tags: [Auth (admin)]
      operationId: adminLogin
      summary: Sign in to the admin panel
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password]
              properties:
                login:
                  type: string
                  maxLength: 128
                password:
                  type: string
                  format: password
                  maxLength: 256
            example:
              login: admin@1337
              password: correct-horse-battery-staple
      responses:
        '200':
          description: |
            Authenticated. `permissions` drives which actions the UI renders —
            but the server checks them again on every call.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/TokenPair'
                  - type: object
                    required: [user]
                    properties:
                      user:
                        $ref: '#/components/schemas/AdminUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: 'Codes: `ADMIN_CREDENTIALS_INVALID`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Codes: `ADMIN_ACCOUNT_BLOCKED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Codes: `RATE_LIMITED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /admin/auth/refresh:
    post:
      tags: [Auth (admin)]
      operationId: adminRefreshToken
      summary: Rotate the admin token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: New pair issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          description: 'Codes: `REFRESH_TOKEN_INVALID`, `REFRESH_TOKEN_EXPIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /admin/auth/logout:
    post:
      tags: [Auth (admin)]
      operationId: adminLogout
      summary: Revoke the current admin session
      security:
        - adminAuth: []
      responses:
        '204':
          description: Session revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'

        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /admin/auth/me:
    get:
      tags: [Auth (admin)]
      operationId: getAdminMe
      summary: Current admin user, role and permissions
      security:
        - adminAuth: []
      responses:
        '200':
          description: Current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUser'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ────────────────────────────────────────────────────────────── Auth (kiosk)

        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /kiosk/auth/provision:
    post:
      tags: [Auth (kiosk)]
      operationId: provisionDevice
      summary: Bind a terminal to a postamat and obtain a device token
      description: |
        Run once, at installation. The provisioning code is issued in the admin panel
        and is valid for a single use. Afterwards the terminal authenticates with the
        device token and never shows a login screen to the public.
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provisioning_code, hardware_id]
              properties:
                provisioning_code:
                  type: string
                  minLength: 8
                  maxLength: 64
                hardware_id:
                  type: string
                  description: Stable machine identifier (serial or MAC).
                  example: 00:1A:2B:3C:4D:5E
                os_version:
                  type: string
                app_version:
                  type: string
      responses:
        '200':
          description: Device bound.
          content:
            application/json:
              schema:
                type: object
                required: [device_token, device, postamat]
                properties:
                  device_token:
                    type: string
                    description: Long-lived. Stored in the device keystore, never in web storage.
                  device:
                    $ref: '#/components/schemas/Device'
                  postamat:
                    $ref: '#/components/schemas/Postamat'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: 'Codes: `DEVICE_PROVISION_CODE_INVALID`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 'Codes: `DEVICE_ALREADY_PROVISIONED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/auth/staff/login:
    post:
      tags: [Auth (kiosk)]
      operationId: kioskStaffLogin
      summary: Staff sign-in on the terminal
      description: |
        Opens staff mode on top of the device session. Short-lived on purpose —
        staff sessions expire with terminal inactivity.
      security:
        - deviceAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password]
              properties:
                login:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Staff session opened.
          content:
            application/json:
              schema:
                type: object
                required: [staff_token, expires_in, user]
                properties:
                  staff_token:
                    type: string
                  expires_in:
                    type: integer
                    example: 900
                  user:
                    $ref: '#/components/schemas/AdminUser'
        '401':
          description: 'Codes: `STAFF_CREDENTIALS_INVALID`, `DEVICE_NOT_PROVISIONED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Codes: `FORBIDDEN`, `DEVICE_BLOCKED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/auth/staff/logout:
    post:
      tags: [Auth (kiosk)]
      operationId: kioskStaffLogout
      summary: Close the staff session
      security:
        - staffAuth: []
      responses:
        '204':
          description: Closed.
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────────────────────────── Profile

  /me:
    get:
      tags: [Profile]
      operationId: getMe
      summary: Current client profile
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [Profile]
      operationId: updateMe
      summary: Update name, city or language
      description: |
        Used both for first-time profile completion (screen «Регистрация») and for
        later edits (screen «Профиль (изменения)»). Fields are optional individually,
        but `last_name` and `first_name` must both be present before the client can book.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                first_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                middle_name:
                  type: [string, 'null']
                  maxLength: 100
                  description: Optional by design — the field is labelled «необязательно».
                city_id:
                  type: string
                  format: uuid
                language:
                  $ref: '#/components/schemas/Language'
            example:
              last_name: Аннаев
              first_name: Мырат
              middle_name: Аннаевич
              city_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e10
              language: ru
      responses:
        '200':
          description: Updated profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |
            Codes: `CITY_NOT_AVAILABLE` (a city marked «скоро»), `NAME_INVALID`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /me/notification-settings:
    get:
      tags: [Profile]
      operationId: getNotificationSettings
      summary: Notification preferences
      responses:
        '200':
          description: Settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [Profile]
      operationId: updateNotificationSettings
      summary: Update notification preferences
      description: |
        Only push channels are switchable. Transactional SMS — above all the pickup
        code — cannot be disabled, which is why the SMS flags are read-only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                push_parcel_deposited:
                  type: boolean
                push_cell_opened:
                  type: boolean
                push_expiring_soon:
                  type: boolean
                push_marketing:
                  type: boolean
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /me/notifications:
    get:
      tags: [Profile]
      operationId: listNotifications
      summary: Notification feed
      description: |
        What the «Уведомление» screen shows. Push delivery is not guaranteed and a
        dismissed banner is gone forever, so every notification is also recorded here —
        this list is the durable copy.

        Never contains a pickup code, in any field.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Notifications, newest first.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination, unread_count]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  unread_count:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /me/notifications/read:
    post:
      tags: [Profile]
      operationId: markNotificationsRead
      summary: Mark notifications as read
      description: Omit `notification_ids` to mark everything read.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                required: [unread_count]
                properties:
                  unread_count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ──────────────────────────────────────────────────────────────── Reference

  /cities:
    get:
      tags: [Reference]
      operationId: listCities
      summary: Cities
      description: |
        Returns every city, including the ones that are not live yet. The app shows
        them greyed out with «скоро» rather than hiding them — see screen `190:1657`.

        Public: a person should be able to see what the service offers before handing
        over their phone number.
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Cities.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/City'
                  pagination:
                    $ref: '#/components/schemas/PagePagination'
              example:
                items:
                  - id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e10
                    name: Aşgabat
                    is_available: true
                    postamat_count: 6
                  - id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e11
                    name: Arkadag
                    is_available: true
                    postamat_count: 1
                  - id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e12
                    name: Mary
                    is_available: false
                    postamat_count: 0
                pagination:
                  page: 1
                  per_page: 50
                  total: 7
                  total_pages: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /postamats:
    get:
      tags: [Reference]
      operationId: listPostamats
      summary: Postamats for the map and the list
      description: |
        Backs screen `193:1905`: a map with pins plus a list ordered by distance.
        Pass `near_lat`/`near_lon` to get `distance_m` filled in; without them the
        list is ordered by name and `distance_m` is `null` (the app then hides it).
        Blocked postamats are omitted entirely for clients.

        Public — the map, the prices and the free-cell counts are all visible before
        sign-in. Login is required only to actually book.
      security: []
      parameters:
        - name: city_id
          in: query
          schema:
            type: string
            format: uuid
        - name: near_lat
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: near_lon
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: has_free_cells
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Postamats.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostamatListItem'
                  pagination:
                    $ref: '#/components/schemas/PagePagination'
              example:
                items:
                  - id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e20
                    name: ТП #4 Беркарарлык
                    address: Почтовый офис 744000, проспект Атамурата Ниязова 72
                    city_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e10
                    location:
                      lat: 37.9601
                      lon: 58.3261
                    working_hours: '08:00–20:00'
                    status: active
                    distance_m: 1200
                    free_cell_count: 6
                pagination:
                  page: 1
                  per_page: 20
                  total: 6
                  total_pages: 1
        '400':
          $ref: '#/components/responses/BadRequest'

  /postamats/{postamat_id}:
    get:
      tags: [Reference]
      operationId: getPostamat
      summary: Postamat details with live availability
      description: |
        Backs screen `197:2947` — sizes, dimensions, prices and remaining counts. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Postamat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostamatDetails'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Codes: `POSTAMAT_BLOCKED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /postamats/{postamat_id}/availability:
    get:
      tags: [Reference]
      operationId: getPostamatAvailability
      summary: Availability and price per cell type and duration
      description: |
        Prices depend on both the cell type and the rental duration, so this endpoint
        returns the full matrix the size picker needs. `available_count: 0` renders as
        «недоступно» and the option is not selectable.

        Prices come from the city × cell type tariff matrix. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
      responses:
        '200':
          description: Availability matrix.
          content:
            application/json:
              schema:
                type: object
                required: [postamat_id, options, checked_at]
                properties:
                  postamat_id:
                    type: string
                    format: uuid
                  checked_at:
                    $ref: '#/components/schemas/Timestamp'
                  options:
                    type: array
                    items:
                      type: object
                      required: [cell_type, available_count, prices]
                      properties:
                        cell_type:
                          $ref: '#/components/schemas/CellType'
                        available_count:
                          type: integer
                          minimum: 0
                        prices:
                          type: array
                          items:
                            type: object
                            required: [duration_hours, price]
                            properties:
                              duration_hours:
                                $ref: '#/components/schemas/DurationHours'
                              price:
                                $ref: '#/components/schemas/Money'
              example:
                postamat_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e20
                checked_at: '2026-08-14T09:41:00Z'
                options:
                  - cell_type:
                      id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e30
                      code: small
                      name: Маленький
                      width_mm: 200
                      height_mm: 200
                      depth_mm: 400
                      is_active: true
                    available_count: 4
                    prices:
                      - duration_hours: 12
                        price: { amount_minor: 1200, currency: TMT }
                      - duration_hours: 24
                        price: { amount_minor: 1800, currency: TMT }
                      - duration_hours: 48
                        price: { amount_minor: 2400, currency: TMT }
        '404':
          $ref: '#/components/responses/NotFound'

  /cell-types:
    get:
      tags: [Reference]
      operationId: listCellTypes
      summary: Cell types
      description: Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Cell types.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CellType'
                  pagination:
                    $ref: '#/components/schemas/PagePagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ───────────────────────────────────────────────────────────── Bookings

  /bookings:
    get:
      tags: [Bookings]
      operationId: listBookings
      summary: The client's bookings
      description: |
        Backs the two tabs on screen `488:8413` / `270:5270`.
        `scope=active` returns everything not yet finished; `scope=history` the rest.
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum: [active, history]
            default: active
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Bookings, newest first.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookingListItem'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Bookings]
      operationId: createBooking
      summary: Create a booking and hold a cell
      description: |
        A concrete cell is picked and held immediately — the client is about to pay for
        it, so it cannot be handed to somebody else in the meantime. The hold lasts
        `hold_expires_at - now` (10 minutes by default) and the cell sits in `booked`.
        If payment does not complete in time the hold is released and the cell returns
        to `free`.

        `recipient_phone` may be omitted — that is the «Пропустить» path on screen
        `262:3414`, meaning the sender will collect the parcel themselves.

        The sender always pays, always before the parcel goes in. There is no
        pay-on-collection flow.

        There is no fixed cap on concurrent bookings, but the limit is a server
        setting rather than a hard-coded absence: when it is switched on, this endpoint
        answers `BOOKING_LIMIT_EXCEEDED` and the app renders that message. Clients
        must handle the code from day one even while the limit is disabled.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [postamat_id, cell_type_id, duration_hours]
              properties:
                postamat_id:
                  type: string
                  format: uuid
                cell_type_id:
                  type: string
                  format: uuid
                duration_hours:
                  $ref: '#/components/schemas/DurationHours'
                recipient_phone:
                  oneOf:
                    - $ref: '#/components/schemas/Phone'
                    - type: 'null'
                recipient_name:
                  type: [string, 'null']
                  maxLength: 100
            example:
              postamat_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e20
              cell_type_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e30
              duration_hours: 24
              recipient_phone: '+99362123456'
      responses:
        '201':
          description: |
            Created and held. The response carries the assigned cell number so the
            summary screen (`262:3609`) can show it before payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            Codes: `NO_FREE_CELLS`, `CELL_TYPE_UNAVAILABLE`, `POSTAMAT_BLOCKED`.
            `NO_FREE_CELLS` carries nearby alternatives so the app can offer them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: NO_FREE_CELLS
                  message: No cells of this size are free.
                  details:
                    alternatives:
                      - postamat_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e21
                        name: ТП #3 Багтыярлык
                        distance_m: 2200
                        available_count: 2
                  trace_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e40
        '422':
          description: |
            Codes: `DURATION_NOT_SUPPORTED`, `RECIPIENT_PHONE_INVALID`,
            `RECIPIENT_PHONE_SAME_AS_SENDER`, `PROFILE_INCOMPLETE`,
            `BOOKING_LIMIT_EXCEEDED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings/{booking_id}:
    get:
      tags: [Bookings]
      operationId: getBooking
      summary: One booking
      description: |
        Everything screen `262:3977` needs, including `deposit_code` while it is still
        valid. The pickup code is never present in this payload.
      parameters:
        - $ref: '#/components/parameters/BookingId'
      responses:
        '200':
          description: Booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /bookings/{booking_id}/cancel:
    post:
      tags: [Bookings]
      operationId: cancelBooking
      summary: Cancel a booking
      description: |
        Allowed while the booking is unpaid, or paid but the parcel has not been
        deposited yet. Once a courier has closed the door the cell is occupied and
        cancellation is no longer a client-side action.

        **Cancelling a paid booking does not refund anything in this version.**
        The cell is released, the money stays. There is no refund endpoint anywhere in
        this API by design — that has to be spelled out on the summary screen before
        the client pays, not discovered afterwards.
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: [string, 'null']
                  maxLength: 500
      responses:
        '200':
          description: Cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Codes: `BOOKING_NOT_CANCELLABLE`, `BOOKING_ALREADY_CANCELLED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings/{booking_id}/extend-hold:
    post:
      tags: [Bookings]
      operationId: extendBookingHold
      summary: Extend the 10-minute payment hold
      description: |
        For the case where the hold runs out while the client is on the bank's 3-D
        Secure page. Limited number of extensions; after that the hold dies for good.
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '200':
          description: Hold extended.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '409':
          description: |
            Codes: `BOOKING_HOLD_EXPIRED`, `HOLD_EXTENSION_LIMIT_EXCEEDED`,
            `BOOKING_ALREADY_PAID`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings/{booking_id}/timeline:
    get:
      tags: [Bookings]
      operationId: getBookingTimeline
      summary: Booking timeline
      description: |
        The checklist on screen `262:3977`: booked → parcel deposited → pickup code
        sent → collected. Steps that have not happened yet are returned with
        `occurred_at: null` so the UI can render them greyed out in the right order.
      parameters:
        - $ref: '#/components/parameters/BookingId'
      responses:
        '200':
          description: Timeline.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimelineStep'
              example:
                items:
                  - step: booked
                    occurred_at: '2026-08-14T06:04:00Z'
                  - step: parcel_deposited
                    occurred_at: '2026-08-14T06:04:00Z'
                  - step: pickup_code_sent
                    occurred_at: null
                  - step: collected
                    occurred_at: null
        '404':
          $ref: '#/components/responses/NotFound'

  # ────────────────────────────────────────────────────────────────── Payments

  /bookings/{booking_id}/payments:
    post:
      tags: [Payments]
      operationId: initiatePayment
      summary: Start a card payment
      description: |
        Returns a `redirect_url` on the acquirer's own domain. The app opens it in a
        WebView, the card is entered **there**, and the bank sends the user back to
        `return_url` (a deep link). No card number, CVC or expiry ever reaches this API —
        that is what keeps the app and the backend out of PCI DSS scope.

        The deep link is a hint, not a guarantee: the user may kill the WebView, lose
        the network, or come back an hour later. The result screen must poll
        `GET /payments/{payment_id}` regardless.
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bank_code, return_url]
              properties:
                bank_code:
                  $ref: '#/components/schemas/BankCode'
                return_url:
                  type: string
                  format: uri
                  description: Deep link the acquirer redirects to, e.g. `postamat://payment/result`.
            example:
              bank_code: halk
              return_url: postamat://payment/result
      responses:
        '201':
          description: Payment session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              example:
                id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e50
                booking_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e41
                status: pending
                amount: { amount_minor: 1200, currency: TMT }
                bank_code: halk
                redirect_url: https://epay.halkbank.tm/pay/9f2c1b7a
                expires_at: '2026-08-14T09:51:00Z'
                created_at: '2026-08-14T09:41:00Z'
                failure_code: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            Codes: `PAYMENT_ALREADY_EXISTS`, `BOOKING_ALREADY_PAID`,
            `BOOKING_HOLD_EXPIRED`, `BOOKING_ALREADY_CANCELLED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: 'Codes: `BANK_NOT_SUPPORTED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Codes: `PAYMENT_PROVIDER_UNAVAILABLE`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /payments/{payment_id}:
    get:
      tags: [Payments]
      operationId: getPayment
      summary: Payment status
      description: |
        The authoritative answer for the result screen. Poll this after returning from
        the WebView — and also on a cold start, because the app may have been killed.
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{payment_id}/cancel:
    post:
      tags: [Payments]
      operationId: cancelPayment
      summary: Abandon a pending payment
      description: Called when the user backs out of the WebView deliberately.
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '200':
          description: Cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '409':
          description: |
            Codes: `PAYMENT_NOT_CANCELLABLE` — the bank already authorised it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /webhooks/payments/{provider}:
    post:
      tags: [Webhooks]
      operationId: paymentCallback
      summary: Acquirer callback (server-to-server)
      description: |
        Documented for the backend developer, never called by a front-end. Signature
        verification is mandatory; the exact scheme depends on the acquirer and is an
        open question. This endpoint is the moment the cell flips from held to firmly
        `booked` and the deposit code is issued.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BankCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provider-specific payload, passed through as received.
              additionalProperties: true
      responses:
        '200':
          description: Accepted.
        '400':
          description: 'Codes: `CALLBACK_SIGNATURE_INVALID`, `AMOUNT_MISMATCH`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────────────────────────── Access codes

  /bookings/{booking_id}/deposit-code/rotate:
    post:
      tags: [Access codes]
      operationId: rotateDepositCode
      summary: Issue a fresh deposit code
      description: |
        Button «Повторно отправить PIN-код курьера». There is no "re-send the same
        code" operation anywhere in this API, because the server stores a keyed hash
        and cannot reproduce the digits. Asking again therefore **mints a new code and
        kills the old one** — which is also the safer behaviour: a code that was
        forwarded to the wrong person stops working the moment the sender asks for
        another.

        The new code comes back in the response (so the app can show and copy it) and
        goes out by SMS to `courier_phone`.

        The pickup code has no equivalent read: it is generated server-side and
        delivered by SMS to the recipient only after the door sensor confirms the
        parcel is inside.
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  oneOf:
                    - $ref: '#/components/schemas/Phone'
                    - type: 'null'
                  description: |
                    Send to a different courier and store that number. Omit to reuse
                    the one captured on screen `262:3414`.
      responses:
        '200':
          description: New code issued; the previous one is revoked.
          content:
            application/json:
              schema:
                type: object
                required: [code, expires_at, resend_after]
                properties:
                  code:
                    $ref: '#/components/schemas/Pin'
                  expires_at:
                    $ref: '#/components/schemas/Timestamp'
                  resend_after:
                    type: integer
                    description: Seconds before another rotation is allowed.
                    example: 60
              example:
                code: '45865'
                expires_at: '2026-08-15T09:41:00Z'
                resend_after: 60
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Codes: `GRANT_ALREADY_USED` — the parcel is already inside, so there is
            nothing left to open with; `GRANT_EXPIRED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Codes: `CODE_RESEND_TOO_SOON`, `CODE_RESEND_LIMIT_EXCEEDED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings/{booking_id}/pickup-code/rotate:
    post:
      tags: [Access codes]
      operationId: rotatePickupCode
      summary: Issue a fresh pickup code, SMS it, and return it once
      description: |
        Button «Повторно отправить одноразовый PIN-код». Same rule as the deposit code:
        the old one dies, a new one is minted, and the digits come back **once** — in
        this response and nowhere else.

        The sender reads them. That is the C2C flow the mockups draw: the recipient
        never registers anywhere, and when the SMS does not arrive the sender is the
        one who reads the code out over the phone. Returning nothing here would break
        precisely the case this endpoint exists for.

        What the two grants protect is unchanged: the **courier** holds the deposit
        code and only that, so the person carrying the box still cannot collect it. A
        sender who opens their own parcel is not theft — they paid for it.

        Every later read returns null. Never in a notification, never in the admin
        panel, never in a log line.
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '200':
          description: |
            New code issued, the previous one revoked, SMS on its way. The digits are
            here and in no other response.
          content:
            application/json:
              schema:
                type: object
                required: [code, expires_at, resend_after]
                properties:
                  code:
                    $ref: '#/components/schemas/Pin'
                  expires_at:
                    $ref: '#/components/schemas/Timestamp'
                  resend_after:
                    type: integer
        '409':
          description: |
            Codes: `PICKUP_CODE_NOT_ISSUED_YET` (the parcel is not in the cell yet),
            `GRANT_ALREADY_USED`, `GRANT_EXPIRED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Codes: `CODE_RESEND_TOO_SOON`, `CODE_RESEND_LIMIT_EXCEEDED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings/{booking_id}/pickup-code/transfer:
    post:
      tags: [Access codes]
      operationId: transferPickup
      summary: Transfer the right to collect to another phone
      description: |
        Revokes the current pickup grant and issues a fresh one to a different number.
        People forward codes over messengers anyway — this makes it an explicit,
        audited action instead of an invisible one.
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_phone]
              properties:
                new_phone:
                  $ref: '#/components/schemas/Phone'
                new_name:
                  type: [string, 'null']
                  maxLength: 100
      responses:
        '200':
          description: |
            Transferred. The old code stops working immediately.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '409':
          description: |
            Codes: `TRANSFER_NOT_ALLOWED` (parcel already collected),
            `PICKUP_CODE_NOT_ISSUED_YET`, `GRANT_ALREADY_USED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: 'Codes: `TRANSFER_PHONE_SAME`, `RECIPIENT_PHONE_INVALID`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ───────────────────────────────────────────────────────────────────── Kiosk

  /kiosk/context:
    get:
      tags: [Kiosk]
      operationId: getKioskContext
      summary: What this terminal needs to render its idle screen
      description: |
        Postamat identity, supported languages, support phone numbers for the
        «ЯЧЕЙКА ЗАБЛОКИРОВАНО» screen, and whether the core considers this device
        healthy. Polled on a slow interval; the connectivity banner is driven by
        request failures, not by this field alone.
      security:
        - deviceAuth: []
      responses:
        '200':
          description: Context.
          content:
            application/json:
              schema:
                type: object
                required: [postamat, languages, support_phones, server_time]
                properties:
                  postamat:
                    $ref: '#/components/schemas/Postamat'
                  languages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
                  support_phones:
                    type: array
                    items:
                      $ref: '#/components/schemas/Phone'
                  server_time:
                    $ref: '#/components/schemas/Timestamp'
                  pin_length:
                    type: integer
                    description: Always 5. The terminal renders this many boxes.
                    example: 5
                  max_pin_attempts:
                    type: integer
                    description: Always 3. «Попытка N из 3» reads this.
                    example: 3
                  offline_ttl_seconds:
                    type: integer
                    default: 86400
                    description: |
                      How long the agent may keep serving pickups after its last
                      successful sync. 24 hours by default, per postamat.

                      Long on purpose. The two costs are not symmetric: a false refusal
                      hits many people during an ordinary connectivity drop, which in a
                      post office is routine, while a stale acceptance is rare and lets
                      in somebody the sender had already designated — not a stranger.
                      Three things narrow the window without shortening it: the agent
                      rejects expired bookings from its own cache, it reports every
                      offline acceptance on reconnect so mismatches raise an alert, and
                      a transfer against an offline postamat tells the person plainly
                      that the old code may keep working until the TTL runs out.
                  door_close_timeout_seconds:
                    type: integer
                    default: 60
                    description: |
                      How long «Ожидание закрытия датчика...» waits before the terminal
                      reports `closed: false`, shows a reminder and raises a ticket.
                  idle_timeout_seconds:
                    type: integer
                    default: 60
                    description: |
                      Inactivity before the session resets: back to the splash screen,
                      PIN cleared, language back to `default_language`.
                  default_language:
                    $ref: '#/components/schemas/Language'
              example:
                postamat:
                  id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e20
                  name: ТП #4 Беркарарлык
                  address: Почтовый офис 744000, проспект Атамурата Ниязова 72
                  status: active
                languages: [tk, ru, en]
                support_phones: ['+99365555550', '+99365125512']
                server_time: '2026-08-14T09:41:00Z'
                pin_length: 5
                max_pin_attempts: 3
                door_close_timeout_seconds: 60
                idle_timeout_seconds: 60
                default_language: tk
        '401':
          $ref: '#/components/responses/Unauthorized'

  /kiosk/sessions:
    post:
      tags: [Kiosk]
      operationId: verifyKioskPin
      summary: Verify a PIN and open a terminal session
      description: |
        There is no cell wall on this terminal: the code decides which door opens, so
        nobody can point at a stranger's cell and start guessing against it.

        `role` comes from the «Владелец / Курьер» screen and is a cross-check, not a
        selector — a deposit code presented as `owner` is refused.

        The attempt counter is scoped to the **terminal**, not to a cell. A wrong PIN
        matches no cell at all — until a code verifies, nobody knows which door the
        person was heading for — so failed attempts can never produce
        `CellStatus.blocked`. After three failures the terminal locks for a cooling
        period and says so; the cells are untouched.

        **A second limit, per postamat, is mandatory — not optional.** Three attempts
        per session is trivially bypassed by starting a new session. A 5-digit PIN is
        100 000 combinations; with ~20 live codes in one cabinet a random guess lands
        about 1 in 5 000, so an evening of typing brute-forces a door. The device-wide
        limiter is what makes a 5-digit code survivable, and it answers `RATE_LIMITED`
        with `Retry-After`.

        Related storage rule: a 5-digit PIN has too small a search space for a plain
        hash to protect it — 100 000 candidates is nothing. The stored value must be a
        keyed HMAC or a slow KDF with a pepper held outside the database.

        **Active codes are unique within a postamat.** Five digits is a space of
        100 000; a full 43-cell cabinet holds up to ~86 live codes, and the chance
        that two of them collide is about 4% per full cabinet — not a tail case.
        On a collision this endpoint has two candidate cells and no way to choose,
        and whichever it picks, somebody opens a stranger's parcel. Generation
        retries until the code is unique among that postamat's active codes.
      security:
        - deviceAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pin, role]
              properties:
                pin:
                  $ref: '#/components/schemas/Pin'
                role:
                  type: string
                  enum: [owner, courier]
                  description: |
                    `courier` — leaving a parcel (deposit grant).
                    `owner` — collecting one (pickup grant).
            example:
              pin: '88422'
              role: owner
      responses:
        '201':
          description: |
            PIN accepted. The session is short-lived; the terminal must call `open`
            straight away.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KioskSession'
              example:
                id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e60
                cell:
                  id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e70
                  postamat_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e20
                  cell_type_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e30
                  number: '14'
                  row: 3
                  col: 2
                  hardware_address: { board: 1, output: 14 }
                grant_kind: pickup
                booking_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e41
                expires_at: '2026-08-14T09:43:00Z'
                status: verified
        '401':
          description: |
            Codes: `PIN_INVALID`. `details.attempts_left` drives «Попытка N из 3».
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: PIN_INVALID
                  message: Wrong code.
                  details:
                    attempts_left: 1
                    attempt: 2
                    max_attempts: 3
                  trace_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e61
        '403':
          description: |
            Codes: `PIN_ATTEMPTS_EXCEEDED` — the third failure. The **terminal** is
            locked for `details.locked_for_seconds`; no cell changed state. The screen
            has to say that, with the support numbers from `/kiosk/context` — telling
            somebody their cell is blocked when it is not sends them to a counter to
            resolve a problem that does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: PIN_ATTEMPTS_EXCEEDED
                  message: Cell blocked after three failed attempts.
                  details:
                    cell_number: '14'
                  trace_id: 0190f2c1-6b7a-7c3e-9a11-2f0c9a5d4e62
        '409':
          description: |
            Codes: `GRANT_ALREADY_USED`, `GRANT_EXPIRED`, `GRANT_REVOKED`,
            `CELL_BLOCKED`, `CELL_IN_MAINTENANCE`, `GRANT_ROLE_MISMATCH`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Codes: `RATE_LIMITED` — the per-postamat limiter tripped. The terminal shows
            a neutral «попробуйте позже» and does **not** reveal how close a guess was.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Codes: `CORE_UNREACHABLE`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/sessions/{session_id}/open:
    post:
      tags: [Kiosk]
      operationId: openKioskCell
      summary: Ask the core to authorise opening the cell
      description: |
        The core authorises; the physical unlatch is issued by the local lock agent
        over the loopback WebSocket (see `docs/API-01.md`, section «Kiosk ↔ lock
        agent»). This call burns the grant — it cannot be replayed.
      security:
        - deviceAuth: []
      parameters:
        - $ref: '#/components/parameters/KioskSessionId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '200':
          description: Authorised. The terminal now shows «ЯЧЕЙКА ОТКРЫТА».
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KioskSession'
        '404':
          description: 'Codes: `KIOSK_SESSION_NOT_FOUND`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: |
            Codes: `KIOSK_SESSION_EXPIRED`, `GRANT_ALREADY_USED`, `CELL_BLOCKED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/sessions/{session_id}/door-closed:
    post:
      tags: [Kiosk]
      operationId: reportDoorClosed
      summary: Report the door sensor state (display path only)
      description: |
        The hinge of the whole system. On a **deposit** the door closing is what flips
        the cell to `occupied` and releases the pickup code by SMS — not the click of a
        button, not a timer. On a **pickup** it closes the booking and returns the cell
        to `free`.

        **The agent is the reporter of record, not this endpoint.** Door events arrive
        at the agent over the local socket and the agent reports them to the core
        directly. Routing the one event that releases a parcel's code through a browser
        tab means a reload, a renderer crash or a frozen kiosk at the wrong second
        leaves the parcel inside and the recipient with no code, and no event anywhere
        saying so.

        The terminal still calls this so the core knows what the person was shown; the
        core treats it as corroboration and ignores it when the agent has already
        spoken.

        `closed: false` means the door never reported shut. After a deposit the booking
        stays in `awaiting_deposit`, **no pickup code is released**, an alert is raised
        and a human resolves it. Silence here would leave a parcel inside a cabinet the
        system believes is empty. `sensor_fault` is handled the same way and puts the
        cell into `maintenance`.
      security:
        - deviceAuth: []
      parameters:
        - $ref: '#/components/parameters/KioskSessionId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [closed, observed_at]
              properties:
                closed:
                  type: boolean
                observed_at:
                  $ref: '#/components/schemas/Timestamp'
                sensor_fault:
                  type: boolean
                  default: false
                  description: The agent could not read the sensor at all.
            example:
              closed: true
              observed_at: '2026-08-14T09:42:30Z'
              sensor_fault: false
      responses:
        '200':
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KioskSession'
        '409':
          description: 'Codes: `KIOSK_SESSION_EXPIRED`, `DOOR_SENSOR_FAULT`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/sessions/{session_id}/cancel:
    post:
      tags: [Kiosk]
      operationId: cancelKioskSession
      summary: Abandon the session
      description: The «Отмена» button, and the inactivity timeout.
      security:
        - deviceAuth: []
      parameters:
        - $ref: '#/components/parameters/KioskSessionId'
      responses:
        '204':
          description: Cancelled.
        '404':
          $ref: '#/components/responses/NotFound'

  /kiosk/qr-sessions:
    post:
      tags: [Kiosk]
      operationId: createQrSession
      summary: Start QR sign-in
      description: |
        The alternative to typing a PIN: the terminal renders `qr_payload`, the phone
        scans it and confirms over the network. The terminal polls until the state
        turns `confirmed`, then continues exactly as after a verified PIN.
      security:
        - deviceAuth: []
      responses:
        '201':
          description: QR session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrSession'
        '503':
          description: 'Codes: `CORE_UNREACHABLE`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /kiosk/qr-sessions/{qr_session_id}:
    get:
      tags: [Kiosk]
      operationId: getQrSession
      summary: Poll QR sign-in state
      security:
        - deviceAuth: []
      parameters:
        - name: qr_session_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: QR session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrSession'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: 'Codes: `QR_SESSION_EXPIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /qr-sessions/{qr_session_id}/confirm:
    post:
      tags: [Kiosk]
      operationId: confirmQrSession
      summary: Confirm QR sign-in from the phone
      description: Called by the mobile app, authenticated as the client.
      parameters:
        - name: qr_session_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [booking_id]
              properties:
                booking_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Confirmed — the terminal will pick this up on its next poll.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: 'Codes: `QR_SESSION_ALREADY_CONFIRMED`, `QR_SESSION_EXPIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────────────────────── Kiosk (staff)

  /kiosk/staff/cells:
    get:
      tags: [Kiosk (staff)]
      operationId: listKioskStaffCells
      summary: All cells of this postamat, for staff mode only
      description: |
        The cell wall exists here and nowhere else. A member of staff needs to see the
        whole cabinet to unload expired parcels and to diagnose locks; the public does not.
      security:
        - staffAuth: []
      responses:
        '200':
          description: Cells with live state.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CellWithState'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /kiosk/staff/cells/{cell_id}/force-open:
    post:
      tags: [Kiosk (staff)]
      operationId: staffForceOpenCell
      summary: Open a cell without a grant
      description: |
        Deliberately not an ordinary action: a reason is mandatory, the event is
        written to the audit log with the staff member's identity, and the client is
        notified if the cell was holding their parcel.
      security:
        - staffAuth: []
      parameters:
        - $ref: '#/components/parameters/CellId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 5
                  maxLength: 500
      responses:
        '200':
          description: Authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CellWithState'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: 'Codes: `REASON_REQUIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/staff/expired:
    get:
      tags: [Kiosk (staff)]
      operationId: listExpiredParcels
      summary: Parcels past their storage deadline
      description: |
        Backs the sentence printed on three different mobile screens: after the
        storage period the parcel is moved to the counter and staff free the cell by hand.
      security:
        - staffAuth: []
      responses:
        '200':
          description: Expired parcels.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExpiredParcel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /kiosk/staff/expired/{booking_id}/unload:
    post:
      tags: [Kiosk (staff)]
      operationId: unloadExpiredParcel
      summary: Record that an expired parcel was removed
      description: Frees the cell and closes the booking as `expired_unloaded`.
      security:
        - staffAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination]
              properties:
                destination:
                  type: string
                  enum: [counter, storage, returned_to_sender]
                note:
                  type: [string, 'null']
                  maxLength: 500
      responses:
        '200':
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '409':
          description: 'Codes: `BOOKING_NOT_EXPIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/staff/break-glass:
    post:
      tags: [Kiosk (staff)]
      operationId: staffBreakGlass
      summary: Open one named cell while the core is unreachable
      description: |
        The way out of a cabinet that has outlived its offline window.

        Offline the terminal will not open anything once the agent's cache is older
        than `offline_ttl`. Without this that rule traps parcels: a postamat with a cut
        uplink and boxes inside has no remaining tool but a screwdriver, and a
        multi-day outage at a post office is ordinary.

        The flow needs no network at all. The kiosk shows a `challenge`; staff read it
        to the operations centre by phone; the centre computes the `response` with a
        key held outside the database; staff type it back. Exactly one named cell
        opens. The event is recorded locally and flushed to the audit log on reconnect,
        so it is bounded and attributable rather than a master key.

        Documented here because the clients render it. The verification itself lives in
        the agent — an endpoint that needs the core would defeat the purpose.
      security:
        - staffAuth: []
        - deviceAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cell_number, challenge, response, reason]
              properties:
                cell_number:
                  type: string
                challenge:
                  type: string
                  description: What the terminal displayed.
                response:
                  type: string
                  description: What the operations centre computed from it.
                reason:
                  type: string
                  minLength: 5
                  maxLength: 500
      responses:
        '200':
          description: The cell opened.
          content:
            application/json:
              schema:
                type: object
                required: [cell_number, opened_at]
                properties:
                  cell_number:
                    type: string
                  opened_at:
                    $ref: '#/components/schemas/Timestamp'
        '401':
          description: 'Codes: `BREAK_GLASS_RESPONSE_INVALID`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: 'Codes: `REASON_REQUIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /kiosk/staff/diagnostics:
    get:
      tags: [Kiosk (staff)]
      operationId: getLockDiagnostics
      summary: Lock and sensor diagnostics
      description: |
        Proxies the local lock agent's health view through the core so the result is
        also recorded centrally.
      security:
        - staffAuth: []
      responses:
        '200':
          description: Diagnostics.
          content:
            application/json:
              schema:
                type: object
                required: [checked_at, locks]
                properties:
                  checked_at:
                    $ref: '#/components/schemas/Timestamp'
                  agent_connected:
                    type: boolean
                  locks:
                    type: array
                    items:
                      type: object
                      required: [cell_id, cell_number, lock_ok, sensor_ok]
                      properties:
                        cell_id:
                          type: string
                          format: uuid
                        cell_number:
                          type: string
                        lock_ok:
                          type: boolean
                        sensor_ok:
                          type: boolean
                        door_open:
                          type: boolean
                        last_error:
                          type: [string, 'null']
        '503':
          description: 'Codes: `LOCK_AGENT_UNAVAILABLE`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ─────────────────────────────────────────────────────── Admin — postamats

  /admin/postamats:
    get:
      tags: [Admin — postamats]
      operationId: adminListPostamats
      summary: Postamats table
      description: Backs screen `454:3881`, including the occupied/total counter.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/Query'
        - name: status
          in: query
          description: Comma-separated list of `PostamatStatus`.
          schema:
            type: string
            example: active,maintenance
        - name: city_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Postamats.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminPostamatListItem'
                  pagination:
                    $ref: '#/components/schemas/PagePagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags: [Admin — postamats]
      operationId: adminCreatePostamat
      summary: Create a postamat
      description: |
        Coordinates are picked on the map («Добавить метку на карте»), not typed.
        Cells are created separately — see the bulk endpoint.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostamatWrite'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostamatDetails'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |
            Codes: `VALIDATION_ERROR`, `CITY_NOT_AVAILABLE`, `HARDWARE_ADDRESS_DUPLICATE`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
  /admin/postamats/{postamat_id}:
    get:
      tags: [Admin — postamats]
      operationId: adminGetPostamat
      summary: Postamat with technical data
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
      responses:
        '200':
          description: Postamat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPostamatDetails'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags: [Admin — postamats]
      operationId: adminUpdatePostamat
      summary: Edit a postamat
      description: Backs screen `333:4653`. Every field is optional; send what changed.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostamatWrite'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPostamatDetails'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/postamats/{postamat_id}/block:
    post:
      tags: [Admin — postamats]
      operationId: adminBlockPostamat
      summary: Block a postamat
      description: |
        This is what the bin icon in the table actually does. There is no `DELETE`
        anywhere in this API: blocking hides the postamat from the client app
        immediately while leaving history, audit log and statistics intact.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 3
                  maxLength: 500
      responses:
        '200':
          description: Blocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPostamatDetails'
        '409':
          description: |
            Codes: `POSTAMAT_HAS_ACTIVE_BOOKINGS` — with the count in `details`,
            so the panel can ask whether to proceed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '400':
          $ref: '#/components/responses/BadRequest'
  /admin/postamats/{postamat_id}/unblock:
    post:
      tags: [Admin — postamats]
      operationId: adminUnblockPostamat
      summary: Unblock a postamat
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '200':
          description: Unblocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPostamatDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
  /admin/postamats/{postamat_id}/schedule:
    put:
      tags: [Admin — postamats]
      operationId: adminSetPostamatSchedule
      summary: Opening hours
      description: |
        Hours are structured rather than a display string, because expiry depends on
        them. Paying for 12 hours at 19:00 at a site that closes at 20:00 would expire
        at 07:00 — before the recipient could physically arrive. When a postamat is not
        `round_the_clock`, expiry is pushed to shortly after the next opening, and the
        grace period runs from there too.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostamatSchedule'
      responses:
        '200':
          description: Schedule saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostamatSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |
            Codes: `VALIDATION_ERROR` — `closes_at` earlier than `opens_at`, or a
            weekday listed twice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
  /admin/postamats/{postamat_id}/photos:
    post:
      tags: [Admin — postamats]
      operationId: adminUploadPostamatPhoto
      summary: Upload a photo
      description: 'PNG or JPEG, up to 10 MB — the limit printed in the drop zone.'
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Photo'
        '413':
          description: 'Codes: `FILE_TOO_LARGE`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Codes: `UNSUPPORTED_MEDIA_TYPE`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /admin/postamats/{postamat_id}/photos/{photo_id}:
    delete:
      tags: [Admin — postamats]
      operationId: adminDeletePostamatPhoto
      summary: Remove a photo
      description: The one genuine delete in this API — a photo carries no history.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/PostamatId'
        - name: photo_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Removed.
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────── Admin — cell types

        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /admin/cell-types:
    get:
      tags: [Admin — cell types]
      operationId: adminListCellTypes
      summary: Cell types
      security:
        - adminAuth: []
      parameters:
        - name: include_blocked
          in: query
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Cell types.
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCellType'
                  pagination:
                    $ref: '#/components/schemas/PagePagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags: [Admin — cell types]
      operationId: adminCreateCellType
      summary: Create a cell type
      description: |
        S/M/L are placeholders, not a closed set — the type carries its own dimensions
        and tariff table, so a fourth size needs no code change.
      security:
        - adminAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CellTypeWrite'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCellType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
  /admin/cell-types/{cell_type_id}:
    patch:
      tags: [Admin — cell types]
      operationId: adminUpdateCellType
      summary: Edit a cell type
      security:
        - adminAuth: []
      parameters:
        - name: cell_type_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CellTypeWrite'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCellType'
        '404':
          $ref: '#/components/responses/NotFound'

        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /admin/cell-types/{cell_type_id}/block:
    post:
[...]
